@import './variables';
@import './config/base';
@import './config/normalize';
@import './layout/header';
@import './layout/footer';
@import './pages/all';

.card__top {
  position: relative;
  width: 18rem;
  height: 21rem;
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;
  // box-shadow: 0 0 0.625rem 0.1562rem #06053226;

  &:hover {
    box-shadow: 0 0 1.25rem 0.3125rem #bf98a165;
  }
  @media (max-width: 1300px) {
    width: 100%;
    margin: 0;
    height: 23rem;
  }
  @media (max-width: 1000px) {
    width: 100%;
    margin: 0;
    height: 23rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
    height: 27rem;
  }

  @media (max-width: 400px) {
    aspect-ratio: unset;
    width: 100%;
  }
}
.swiperCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 7/8;

  @media (max-width: 1000px) {
    aspect-ratio: 7/11;
    width: 100%;
  }
  @media (max-width: 500px) {
    max-width: 500px;
    aspect-ratio: 7/9;
    width: 100%;
  }

  @media (max-width: 375px) {
    max-width: 375px;
    aspect-ratio: 7/9;
    width: 100%;
  }
  @media (max-width: 320px) {
    max-width: 320px;
    aspect-ratio: 7/11;
    width: 100%;
  }
}

.card__size {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
  margin: 0 auto;
  top: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  transition: transform 0.3s ease-in-out;

  img {
    margin-right: 0.375rem;
    display: block;
  }
  .card__size-height,
  .card__size-width {
    display: flex;
    align-items: center;
  }
  .card__size-height img {
    height: 0.9rem;
  }
  .card__size-width img {
    width: 0.9rem;
  }
}

.card__size-item {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
}

.card__height,
.card__width {
  color: #fff;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.7rem;
}
.card__img-wrap {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // aspect-ratio: 7/8;
}

.card__bot {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.card__desc {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.card__name {
  cursor: pointer;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

.card__amount {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.card__buy {
  display: flex;
  align-items: center;
  gap: 0.94rem;
  position: relative;
}

.card__price {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
}
